.topper{
	background-image: url(assets/orange1.jpg);
	height: 700px;
	text-align: center;
	padding-top:70px;
	font-size: 300%;
}
.middle{
	height:700px;
	background-color: orange;
	padding-top: 5%;
}
.bodycontent{
	height: 400px;
	text-align: center;
	font-size: 300%;
	padding-left:
	color: white;
	background-color: black;
}
.yup{
	height:400px; 
	width:400px;
}
.yup img{
	max-width: 100%;
	padding: 5%;
	
}
h4{
	font-size:200%;
	color: black;
	text-align: center; 
}
h3, h1{
	color: orange;
}